body{
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 1.4;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    background: #eee;
}

