body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 1.4;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    background: #eee;
    min-width: 1500px;
}

.page_heade {
    position: relative;
    .goods_add_btn {
        position: absolute;
        right: 10px;
        top: 0;
    }
}

.avatar-uploader .el-upload {
    border: 1px dashed #aaa;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.avatar-uploader .el-upload:hover {
    border-color: #20a0ff;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.avatar {
    width: 80px;
    height: 80px;
    display: block;
}

.el-upload.el-upload--picture-card {
    height: 74px;
    width: 148px;
    line-height: 74px;
}

.layout .el-upload-list--picture-card .el-upload-list__item {
    height: 74px;
    width: 148px;
    line-height: 74px;
}

.red {
    color: #f00
}

.small {
    font-size: 80%;
}

.my_error {
    padding-bottom: 1em;
    &.is-error {
        .el-upload--picture-card {
            border-color: #f00;
        }
        .avatar-uploader {
            .el-upload {
                border-color: #f00;
            }
        }
    }
}

.pagination {
    display: block;
    padding: 2em;
    text-align: right
}

.el-upload-list--picture-card .el-upload-list__item-status-label i {
    display: inline-block;
    position: absolute;
    z-index: 9;
    left: 11px;
    top: 11px;
}

.el-table .status_off {
    // background: #F9FAFC;
    color: #1D8CE0;
}

.ui-table-wrapper {
    .table_list>table {
        &:hover {
            box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.5);
        }
    }
    table {
        width: 100%;
        border-top: solid 1px #dfe6ec;
        border-left: solid 4px #8492A6;
        padding: 0;
        margin: 0;
        border-collapse: collapse; // &:hover{
        //     tr:last-child{
        //        &>td{
        //            border-bottom-color: #C0CCDA
        //         }
        //     }
        //     border-top-color:#C0CCDA;
        //     // border-left-color:#FF4949;
        //     td,th{
        //         &:last-child{
        //             border-right-color: #C0CCDA
        //         } 
        //     }
        // }
        th {
            color: #1f2d3d;
            background-color: #eef1f6;
            text-align: left;
            position: relative;
            word-wrap: normal;
            text-overflow: ellipsis;
            line-height: 1.5;
            vertical-align: middle;
        }
        td,
        th {
            padding: 10px;
            border-bottom: 1px solid #dfe6ec;
            border-right: 1px solid #dfe6ec;
            white-space: normal;
            word-break: break-all;
            box-sizing: border-box;
            &.center {
                text-align: center;
            }
        }
        td.nopadding {
            padding: 0; // border: none;
            table {
                border: none;
                th {
                    line-height: 1.5
                }
                td,
                th {
                    &:last-child {
                        border-right-width: 0px;
                    }
                }
                tr:last-child {
                    td {
                        border-bottom-width: 0px;
                    }
                }
            }
        }
        td.border1 {
            border-bottom-width: 1px;
        }
        td.tool_no_border {
            border-bottom: none;
        }
        &.bg>thead th {
            background: #ffeded;
        }
    }
}

.space {
    height: 1em;
    display: block;
}

.table_list {
    margin-bottom: 2em
}

.table_nodata {
    text-align: center;
    display: block;
    color: #888;
    font-size: 14px;
    padding-top: 10%;
}

.dialog_main {
    padding: 0 2em
}

.dialog_order_title {
    padding-bottom: .5em;
    border-bottom: solid 1px #ddd;
    margin-bottom: .5em;
    margin-top: 2em;
}

.dialog_order_info {
    line-height: 2;
}

.order_info_main {
    padding: 0 5%;
    .order_info_main_grid {
        line-height: 2;
        margin-bottom: 2em;
    }
}

.pen_title {
    font-size: 14px;
    border-bottom: solid 1px #ddd;
    padding-bottom: 1em;
}

.text-des {
    color: #ccc;
}

.mytag {
    margin: 0px 5px 5px 5px;
}

.reply_list_dialog {
    position: fixed;
    width: 500px;
    right: 0;
    top: 0%;
    z-index: 998;
    bottom: 0%;
    background: #fff;
}

.reply_list_dialog_bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0%;
    z-index: 997;
    bottom: 0%;
    background: #000;
    opacity: .5;
}

.reply_list_box {
    padding: 10px; // border-right: solid 1px #ddd;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}


/* 可以设置不同的进入和离开动画 */


/* 设置持续时间和动画函数 */

.left-enter-active {
    transition: all .3s ease;
}

.left-leave-active {
    transition: all .3s ease
}

.left,
.left-enter,
.left-leave-to {
    transform: translateX(100%);
}

.left-enter-to {
    transform: translateX(0%);
}

//   reply_list_box left-enter-active left-enter-to
.reply_list_box {
    position: relative;
    .reply_list_content {
        overflow: hidden;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 63px;
    }
    .sendBox {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        padding: 10px;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.sd-scroller {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    transform: translate(0, 0);
    padding: 20px;
}

.reply_list_content {
    .time {
        text-align: center;
        color: #b7b7b7;
        font-size: 12px;
        margin-bottom: 3em;
        margin-top: 5px;
        text-indent: .5em;
    }
    .item-box {
        display: flex;
        align-items: flex-start;
        &.self {
            flex-direction: row-reverse;
            .item-content {
                text-align: right;
                padding-left: 58px;
                padding-right: 0;
                span {
                    @c: #fbcf67;
                    background: @c;
                    color: #000;
                    &:after {
                        left: inherit;
                        right: -4px;
                        background: @c;
                    }
                }
            }
            .avt {
                margin-left: 15px;
                margin-right: 0;
            }
            .pro_box {
                text-align: left;
                display: inline-block;
                &:after {
                    left: inherit;
                    right: -4px;
                }
            }
        }
        .avt {
            margin-right: 15px;
            display: block;
            img {
                width: 40px;
                height: 40px;
                border: none;
            }
        }
        .name {
            font-size: 12px;
            overflow: hidden;
            display: block;
            text-align: center;
        }
    }
    .item-content {
        flex: 1;
        font-size: 14px;
        word-break: break-all;
        padding-top: 4px;
        padding-right: 58px;
        span {
            background: #eee;
            display: inline-block;
            padding: .5em 1em;
            text-align: left;
            border-radius: 4px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                left: -4px;
                top: .8em;
                width: 10px;
                height: 10px;
                display: block;
                background: #eee;
                transform: rotate(45deg);
            }
        }
    }
}

.pro_box {
    display: inline-block;
    font-size: 12px;
    max-width: 240px;
    background: #dfe6ec;
    padding: 10px;
    border-radius: 4px;
    position: relative;
    border: solid 1px #dfe6ec;
    z-index: 2;
    .pro_box_flex {
        display: flex;
    }
    &:after {
        content: '';
        position: absolute;
        left: -4px;
        top: .8em;
        width: 10px;
        height: 10px;
        display: block;
        background: #dfe6ec;
        transform: rotate(45deg);
        z-index: 1;
    }
    .pro_img {
        margin-right: 10px;
        img {
            height: 50px;
            width: 50px;
        }
    }
    .info {
        .cost {
            color: #f00;
            font-size: 14px;
            margin-top: 2px;
        }
        flex: 1;
        .bl {
            color: #333;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
    }
}