body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:498px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u135 {
  position:absolute;
  left:240px;
  top:182px;
  width:1190px;
  height:498px;
}
#u136 {
  position:absolute;
  left:2px;
  top:241px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:629px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u137 {
  position:absolute;
  left:1460px;
  top:51px;
  width:560px;
  height:629px;
}
#u138 {
  position:absolute;
  left:2px;
  top:2px;
  width:556px;
  word-wrap:break-word;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1361px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u139 {
  position:absolute;
  left:69px;
  top:51px;
  width:1361px;
  height:51px;
  font-size:20px;
  color:#FF0000;
}
#u140 {
  position:absolute;
  left:2px;
  top:18px;
  width:1357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:557px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u141 {
  position:absolute;
  left:69px;
  top:123px;
  width:150px;
  height:557px;
}
#u142 {
  position:absolute;
  left:2px;
  top:270px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u143 {
  position:absolute;
  left:260px;
  top:203px;
  width:220px;
  height:40px;
  color:#CCCCCC;
}
#u144 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  word-wrap:break-word;
}
#u145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u145 {
  position:absolute;
  left:240px;
  top:123px;
  width:1190px;
  height:60px;
}
#u146 {
  position:absolute;
  left:2px;
  top:22px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u147 {
  position:absolute;
  left:260px;
  top:143px;
  width:140px;
  height:40px;
}
#u148 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:41px;
}
#u149 {
  position:absolute;
  left:785px;
  top:202px;
  width:70px;
  height:41px;
  color:#FFFFFF;
}
#u150 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u151 {
  position:absolute;
  left:69px;
  top:143px;
  width:150px;
  height:40px;
  text-align:left;
}
#u152 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u154 {
  position:absolute;
  left:260px;
  top:637px;
  width:39px;
  height:30px;
}
#u155 {
  position:absolute;
  left:2px;
  top:7px;
  width:35px;
  word-wrap:break-word;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u156 {
  position:absolute;
  left:298px;
  top:637px;
  width:51px;
  height:30px;
}
#u157 {
  position:absolute;
  left:2px;
  top:7px;
  width:47px;
  word-wrap:break-word;
}
#u158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u158 {
  position:absolute;
  left:456px;
  top:637px;
  width:49px;
  height:30px;
}
#u159 {
  position:absolute;
  left:2px;
  top:7px;
  width:45px;
  word-wrap:break-word;
}
#u160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u160 {
  position:absolute;
  left:504px;
  top:637px;
  width:37px;
  height:30px;
}
#u161 {
  position:absolute;
  left:2px;
  top:7px;
  width:33px;
  word-wrap:break-word;
}
#u162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u162 {
  position:absolute;
  left:348px;
  top:637px;
  width:37px;
  height:30px;
}
#u163 {
  position:absolute;
  left:2px;
  top:7px;
  width:33px;
  word-wrap:break-word;
}
#u164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u164 {
  position:absolute;
  left:384px;
  top:637px;
  width:37px;
  height:30px;
}
#u165 {
  position:absolute;
  left:2px;
  top:7px;
  width:33px;
  word-wrap:break-word;
}
#u166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u166 {
  position:absolute;
  left:420px;
  top:637px;
  width:37px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u167 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  word-wrap:break-word;
}
#u168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(252, 253, 232, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u168 {
  position:absolute;
  left:262px;
  top:261px;
  width:89px;
  height:40px;
}
#u169 {
  position:absolute;
  left:2px;
  top:12px;
  width:85px;
  word-wrap:break-word;
}
#u170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u170 {
  position:absolute;
  left:262px;
  top:300px;
  width:89px;
  height:40px;
}
#u171 {
  position:absolute;
  left:2px;
  top:12px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
  background:inherit;
  background-color:rgba(252, 253, 232, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u172 {
  position:absolute;
  left:1289px;
  top:261px;
  width:106px;
  height:40px;
}
#u173 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
  background:inherit;
  background-color:rgba(252, 253, 232, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u174 {
  position:absolute;
  left:350px;
  top:261px;
  width:101px;
  height:40px;
}
#u175 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u176 {
  position:absolute;
  left:350px;
  top:300px;
  width:101px;
  height:40px;
}
#u177 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u178 {
  position:absolute;
  left:1289px;
  top:300px;
  width:106px;
  height:40px;
}
#u179 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
  background:inherit;
  background-color:rgba(252, 253, 232, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u180 {
  position:absolute;
  left:450px;
  top:261px;
  width:144px;
  height:40px;
}
#u181 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u182 {
  position:absolute;
  left:450px;
  top:300px;
  width:144px;
  height:40px;
}
#u183 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
  background:inherit;
  background-color:rgba(252, 253, 232, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u184 {
  position:absolute;
  left:593px;
  top:261px;
  width:144px;
  height:40px;
}
#u185 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u186 {
  position:absolute;
  left:593px;
  top:300px;
  width:144px;
  height:40px;
}
#u187 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
  background:inherit;
  background-color:rgba(252, 253, 232, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u188 {
  position:absolute;
  left:875px;
  top:261px;
  width:144px;
  height:40px;
}
#u189 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u190 {
  position:absolute;
  left:875px;
  top:300px;
  width:144px;
  height:40px;
}
#u191 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u192 {
  position:absolute;
  left:400px;
  top:143px;
  width:140px;
  height:40px;
}
#u193 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:566px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u194 {
  position:absolute;
  left:685px;
  top:749px;
  width:301px;
  height:566px;
}
#u195 {
  position:absolute;
  left:2px;
  top:275px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:88px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u196 {
  position:absolute;
  left:686px;
  top:803px;
  width:300px;
  height:88px;
}
#u197 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u198 {
  position:absolute;
  left:807px;
  top:828px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u200 {
  position:absolute;
  left:692px;
  top:812px;
  width:287px;
  height:69px;
}
#u201 {
  position:absolute;
  left:2px;
  top:26px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:54px;
}
#u202 {
  position:absolute;
  left:713px;
  top:819px;
  width:57px;
  height:54px;
}
#u203 {
  position:absolute;
  left:2px;
  top:19px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u204 {
  position:absolute;
  left:782px;
  top:819px;
  width:171px;
  height:30px;
  font-size:12px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u206 {
  position:absolute;
  left:782px;
  top:857px;
  width:39px;
  height:16px;
  color:#FF0000;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u208 {
  position:absolute;
  left:732px;
  top:1275px;
  width:206px;
  height:34px;
}
#u209 {
  position:absolute;
  left:2px;
  top:9px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u210 {
  position:absolute;
  left:937px;
  top:1275px;
  width:41px;
  height:34px;
  color:#FFFFFF;
}
#u211 {
  position:absolute;
  left:2px;
  top:9px;
  width:37px;
  word-wrap:break-word;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:34px;
}
#u212 {
  position:absolute;
  left:691px;
  top:1275px;
  width:40px;
  height:34px;
}
#u213 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:43px;
}
#u214 {
  position:absolute;
  left:697px;
  top:913px;
  width:46px;
  height:43px;
}
#u215 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:43px;
}
#u216 {
  position:absolute;
  left:925px;
  top:1001px;
  width:46px;
  height:43px;
}
#u217 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u218 {
  position:absolute;
  left:753px;
  top:927px;
  width:99px;
  height:16px;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u220 {
  position:absolute;
  left:816px;
  top:1015px;
  width:99px;
  height:16px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u222 {
  position:absolute;
  left:786px;
  top:953px;
  width:107px;
  height:16px;
  color:#CCCCCC;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u224 {
  position:absolute;
  left:787px;
  top:1056px;
  width:107px;
  height:16px;
  color:#CCCCCC;
}
#u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u226 {
  position:absolute;
  left:760px;
  top:756px;
  width:152px;
  height:37px;
  color:#FFFFFF;
}
#u227 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u229 {
  position:absolute;
  left:1058px;
  top:749px;
  width:340px;
  height:190px;
}
#u230 {
  position:absolute;
  left:2px;
  top:87px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u231 {
  position:absolute;
  left:1058px;
  top:794px;
  width:340px;
  height:1px;
}
#u232 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u233 {
  position:absolute;
  left:1076px;
  top:763px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u235 {
  position:absolute;
  left:1102px;
  top:835px;
  width:141px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u236 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u237 {
  position:absolute;
  left:1318px;
  top:899px;
  width:70px;
  height:30px;
  color:#FFFFFF;
}
#u238 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u239 {
  position:absolute;
  left:1238px;
  top:899px;
  width:70px;
  height:30px;
  color:#FFFFFF;
}
#u240 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
