<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">
    <title>支付</title>
</head>
<body >
 <!--<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>-->
 <script type="text/javascript">
	//调用微信JS api 支付
	function jsApiCall()
	{
		WeixinJSBridge.invoke(
			'getBrandWCPayRequest',
			<?php echo $jsApiParameters; ?>,
			function(res){
				if (res.err_msg == "get_brand_wcpay_request:ok") {
					var return_url = "/#/paySuccess/order_id/{$order_id}";
                        window.location = return_url;
				}else if(res.err_msg == "get_brand_wcpay_request:fail"){
                    window.history.go(-1);
					//window.location = "/Pay/order/fail";
				}else if(res.err_msg == "get_brand_wcpay_request:cancel"){
                    window.history.go(-1);
//					var return_url = "/index/Order/order_detail/order_id/{$order_id}";
//                        window.location = return_url;
				}
			}
		);
	}

	function callpay()
	{
		if (typeof WeixinJSBridge == "undefined"){
		    if( document.addEventListener ){
		        document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
		    }else if (document.attachEvent){
		        document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
		        document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
		    }
		}else{
		    jsApiCall();
		}
	}
	
	callpay();
	</script>
</body>
</html>
