.talk {
    .fileupload-button {
        background: #fff!important;
        color: #333!important;
        border: solid 1px #ddd!important;
        border-radius: 4px!important;
        box-sizing: border-box!important;
        padding: 5px 12px!important;
        box-sizing: border-box;
        height: 40px; 
    }
    .fileupload-button input {
        -webkit-appearance: none!important;
        font-size: 0!important;
        opacity: 0!important;
        bottom: 0!important;
        left: 0!important;
        width: 100%!important;
        color: transparent!important;
        ;
        background: none!important;
        ;
    }
    .reply_list_box {
        position: absolute;
        top: 60px;
        bottom: 0;
        left: 0;
        right: 0;
        .reply_list_content {
            overflow: hidden;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 60px;
        }
        .sendBox {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
            padding: 0 10px 5px;
            background: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            .flex {
                display: flex;
                align-items: center;
                &>* {
                    display: block;
                }
                .upload {
                    width: 45px; 
                     margin-right: 10px;
               
                    .iconfont{
                        font-size: 20px;
                    }
                }
            }
            .input {
                flex: 1;
                padding: 5px 0;
                .ui-input {
                    min-height: 40px; 
                    max-height: 300px;
                    padding: 3px; 
                    outline: 0; 
                    border: 1px solid #a0b3d6; 
                    font-size: 14px; 
                    word-wrap: break-word;
                    overflow-x: hidden;
                    overflow-y: auto;
                    _overflow-y: visible;
                    position: relative;
                    z-index: 99;
                    zoom: 1;
                    border-radius: 4px;
                    &:focus{
                        border-color: @skin;
                    }

                }
            }
            .send_btn_warp {
                width: 70px;
                margin-left: 5px;
            }
            .ui-btn-send {
                padding: 0;
                width: 100%;
                line-height: 40px;
                box-sizing: border-box;
            }
        }
    }
    .sd-scroller {
        height: 100%;
        padding: 10px;
        margin: 0 10px;
        box-sizing: border-box;
        position: relative;
    }
    .reply_list_content {
        .time {
            text-align: center;
            color: #b7b7b7;
            font-size: 12px; // margin-bottom: 3em;
            // margin-top: 5px;
            text-indent: .5em;
        }
        .item {
            margin-bottom: 2em;
        }
        .item-box {
            display: flex;
            align-items: flex-start;
            &.self {
                flex-direction: row-reverse;
                .item-content {
                    text-align: right;
                    padding-left: 58px;
                    padding-right: 0;
                    span {
                        @c: #fbcf67;
                        background: @c;
                        color: #000;
                        &:after {
                            left: inherit;
                            right: -4px;
                            background: @c;
                        }
                    }
                }
                .avt {
                    margin-left: 15px;
                    margin-right: 0;
                }
                .pro_box {
                    text-align: left;
                    display: inline-block;
                    &:after {
                        left: inherit;
                        right: -4px;
                    }
                }
            }
            .avt {
                margin-right: 15px;
                display: block;
                img {
                    width: 40px;
                    height: 40px;
                    border: none;
                    border-radius: 50%;
                }
            }
            .name {
                font-size: 12px;
                overflow: hidden;
                display: block;
                text-align: center;
            }
        }
        .item-content {
            flex: 1;
            font-size: 14px;
            word-break: break-all;
            padding-top: 4px;
            padding-right: 58px;
            span {
                background: #fff;
                display: inline-block;
                padding: .5em 1em;
                text-align: left;
                border-radius: 4px;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    left: -4px;
                    top: .8em;
                    width: 10px;
                    height: 10px;
                    display: block;
                    background: #fff;
                    transform: rotate(45deg);
                }
            }
        }
    }
    .pro_box {
        display: inline-block;
        font-size: 12px;
        max-width: 240px;
        background: #fff;
        padding: 10px;
        border-radius: 4px;
        position: relative;
        border: solid 1px #fff;
        z-index: 2;
        .pro_box_flex {
            display: flex;
        }
        &:after {
            content: '';
            position: absolute;
            left: -4px;
            top: .8em;
            width: 10px;
            height: 10px;
            display: block;
            background: #fff;
            transform: rotate(45deg);
            z-index: 1;
        }
        .pro_img {
            margin-right: 10px;
            img {
                height: 50px;
                width: 50px;
            }
        }
        .info {
            .cost {
                color: #f00;
                font-size: 14px;
                margin-top: 2px;
            }
            flex: 1;
            .bl {
                color: #333;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
            }
        }
    }
}

.spinner-holder {
    .spinner {
        background: none
    }
}