body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:868px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:654px;
}
#u2283 {
  position:absolute;
  left:130px;
  top:87px;
  width:324px;
  height:654px;
}
#u2284 {
  position:absolute;
  left:2px;
  top:319px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:509px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2285 {
  position:absolute;
  left:147px;
  top:158px;
  width:289px;
  height:509px;
}
#u2286 {
  position:absolute;
  left:2px;
  top:246px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:21px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 黑体 Std R', 'Adobe 黑体 Std';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2287 {
  position:absolute;
  left:147px;
  top:158px;
  width:289px;
  height:21px;
  font-family:'Adobe 黑体 Std R', 'Adobe 黑体 Std';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2288 {
  position:absolute;
  left:2px;
  top:0px;
  width:285px;
  word-wrap:break-word;
}
#u2289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:31px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2289 {
  position:absolute;
  left:147px;
  top:177px;
  width:289px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2290 {
  position:absolute;
  left:2px;
  top:6px;
  width:285px;
  word-wrap:break-word;
}
#u2291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u2291 {
  position:absolute;
  left:147px;
  top:182px;
  width:23px;
  height:22px;
}
#u2292 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u2293 {
  position:absolute;
  left:413px;
  top:161px;
  width:20px;
  height:16px;
}
#u2294 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2295 {
  position:absolute;
  left:232px;
  top:160px;
  width:16px;
  height:16px;
}
#u2296 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2297 {
  position:absolute;
  left:375px;
  top:164px;
  width:10px;
  height:10px;
}
#u2298 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2299 {
  position:absolute;
  left:390px;
  top:161px;
  width:22px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2300 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u2301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u2301 {
  position:absolute;
  left:186px;
  top:161px;
  width:45px;
  height:13px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u2302 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2303 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2304 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:13px;
}
#u2305 {
  position:absolute;
  left:151px;
  top:162px;
  width:8px;
  height:13px;
}
#u2306 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:13px;
}
#u2307 {
  position:absolute;
  left:157px;
  top:162px;
  width:8px;
  height:13px;
}
#u2308 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:13px;
}
#u2309 {
  position:absolute;
  left:163px;
  top:162px;
  width:8px;
  height:13px;
}
#u2310 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:13px;
}
#u2311 {
  position:absolute;
  left:169px;
  top:162px;
  width:8px;
  height:13px;
}
#u2312 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:13px;
}
#u2313 {
  position:absolute;
  left:175px;
  top:162px;
  width:8px;
  height:13px;
}
#u2314 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2315 {
  position:absolute;
  left:408px;
  top:180px;
  width:22px;
  height:22px;
}
#u2316 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:38px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2317 {
  position:absolute;
  left:147px;
  top:628px;
  width:289px;
  height:38px;
}
#u2318 {
  position:absolute;
  left:2px;
  top:11px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u2319 {
  position:absolute;
  left:166px;
  top:630px;
  width:26px;
  height:21px;
}
#u2320 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2321 {
  position:absolute;
  left:165px;
  top:651px;
  width:29px;
  height:16px;
}
#u2322 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2323 {
  position:absolute;
  left:228px;
  top:651px;
  width:29px;
  height:16px;
}
#u2324 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2325 {
  position:absolute;
  left:291px;
  top:651px;
  width:43px;
  height:16px;
}
#u2326 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2327 {
  position:absolute;
  left:365px;
  top:650px;
  width:57px;
  height:16px;
}
#u2328 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u2329 {
  position:absolute;
  left:230px;
  top:630px;
  width:26px;
  height:21px;
}
#u2330 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u2331 {
  position:absolute;
  left:299px;
  top:630px;
  width:26px;
  height:21px;
}
#u2332 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u2333 {
  position:absolute;
  left:381px;
  top:630px;
  width:26px;
  height:21px;
}
#u2334 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2335 {
  position:absolute;
  left:148px;
  top:213px;
  width:287px;
  height:69px;
}
#u2336 {
  position:absolute;
  left:2px;
  top:26px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:54px;
}
#u2337 {
  position:absolute;
  left:171px;
  top:220px;
  width:57px;
  height:54px;
}
#u2338 {
  position:absolute;
  left:2px;
  top:19px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2339 {
  position:absolute;
  left:240px;
  top:220px;
  width:171px;
  height:30px;
  font-size:12px;
}
#u2340 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u2341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2341 {
  position:absolute;
  left:240px;
  top:258px;
  width:39px;
  height:16px;
  color:#FF0000;
}
#u2342 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u2343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2343 {
  position:absolute;
  left:378px;
  top:252px;
  width:50px;
  height:26px;
}
#u2344 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u2345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2345 {
  position:absolute;
  left:265px;
  top:185px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2346 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2347 {
  position:absolute;
  left:570px;
  top:185px;
  width:298px;
  height:98px;
}
#u2348 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  word-wrap:break-word;
}
