body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1134px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:654px;
}
#u2142 {
  position:absolute;
  left:130px;
  top:87px;
  width:324px;
  height:654px;
}
#u2143 {
  position:absolute;
  left:2px;
  top:319px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:509px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2144 {
  position:absolute;
  left:147px;
  top:158px;
  width:289px;
  height:509px;
}
#u2145 {
  position:absolute;
  left:2px;
  top:246px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:21px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 黑体 Std R', 'Adobe 黑体 Std';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2146 {
  position:absolute;
  left:147px;
  top:158px;
  width:289px;
  height:21px;
  font-family:'Adobe 黑体 Std R', 'Adobe 黑体 Std';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2147 {
  position:absolute;
  left:2px;
  top:0px;
  width:285px;
  word-wrap:break-word;
}
#u2148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:31px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2148 {
  position:absolute;
  left:147px;
  top:177px;
  width:289px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2149 {
  position:absolute;
  left:2px;
  top:6px;
  width:285px;
  word-wrap:break-word;
}
#u2150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:22px;
}
#u2150 {
  position:absolute;
  left:147px;
  top:182px;
  width:23px;
  height:22px;
}
#u2151 {
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u2152 {
  position:absolute;
  left:413px;
  top:161px;
  width:20px;
  height:16px;
}
#u2153 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2154 {
  position:absolute;
  left:232px;
  top:160px;
  width:16px;
  height:16px;
}
#u2155 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2156 {
  position:absolute;
  left:375px;
  top:164px;
  width:10px;
  height:10px;
}
#u2157 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2158 {
  position:absolute;
  left:390px;
  top:161px;
  width:22px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2159 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u2160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u2160 {
  position:absolute;
  left:186px;
  top:161px;
  width:45px;
  height:13px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u2161 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2162 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2163 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:13px;
}
#u2164 {
  position:absolute;
  left:151px;
  top:162px;
  width:8px;
  height:13px;
}
#u2165 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:13px;
}
#u2166 {
  position:absolute;
  left:157px;
  top:162px;
  width:8px;
  height:13px;
}
#u2167 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:13px;
}
#u2168 {
  position:absolute;
  left:163px;
  top:162px;
  width:8px;
  height:13px;
}
#u2169 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:13px;
}
#u2170 {
  position:absolute;
  left:169px;
  top:162px;
  width:8px;
  height:13px;
}
#u2171 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:13px;
}
#u2172 {
  position:absolute;
  left:175px;
  top:162px;
  width:8px;
  height:13px;
}
#u2173 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2174 {
  position:absolute;
  left:408px;
  top:180px;
  width:22px;
  height:22px;
}
#u2175 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2176 {
  position:absolute;
  left:265px;
  top:187px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2177 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2178 {
  position:absolute;
  left:148px;
  top:207px;
  width:287px;
  height:460px;
}
#u2179 {
  position:absolute;
  left:2px;
  top:222px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2180 {
  position:absolute;
  left:158px;
  top:228px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u2181 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2182 {
  position:absolute;
  left:158px;
  top:278px;
  width:57px;
  height:16px;
}
#u2183 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u2184 {
  position:absolute;
  left:225px;
  top:278px;
  width:43px;
  height:16px;
  color:#FF9900;
}
#u2185 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2186 {
  position:absolute;
  left:288px;
  top:228px;
  width:135px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u2187 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u2188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2188 {
  position:absolute;
  left:158px;
  top:253px;
  width:118px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u2189 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u2190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:2px;
}
#u2190 {
  position:absolute;
  left:158px;
  top:304px;
  width:265px;
  height:1px;
}
#u2191 {
  position:absolute;
  left:2px;
  top:-8px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2192 {
  position:absolute;
  left:158px;
  top:315px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u2193 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2194 {
  position:absolute;
  left:158px;
  top:365px;
  width:57px;
  height:16px;
}
#u2195 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u2196 {
  position:absolute;
  left:225px;
  top:365px;
  width:43px;
  height:16px;
  color:#FF9900;
}
#u2197 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2198 {
  position:absolute;
  left:288px;
  top:315px;
  width:135px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u2199 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u2200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2200 {
  position:absolute;
  left:158px;
  top:340px;
  width:118px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u2201 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u2202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:2px;
}
#u2202 {
  position:absolute;
  left:158px;
  top:391px;
  width:265px;
  height:1px;
}
#u2203 {
  position:absolute;
  left:2px;
  top:-8px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2204 {
  position:absolute;
  left:148px;
  top:637px;
  width:287px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u2205 {
  position:absolute;
  left:2px;
  top:7px;
  width:283px;
  word-wrap:break-word;
}
#u2206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:283px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2206 {
  position:absolute;
  left:836px;
  top:124px;
  width:298px;
  height:283px;
}
#u2207 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  word-wrap:break-word;
}
#u2208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2208 {
  position:absolute;
  left:486px;
  top:207px;
  width:300px;
  height:170px;
}
#u2209 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2210 {
  position:absolute;
  left:715px;
  top:345px;
  width:61px;
  height:22px;
  font-size:14px;
  color:#FFFFFF;
}
#u2211 {
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  word-wrap:break-word;
}
#u2212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2212 {
  position:absolute;
  left:648px;
  top:345px;
  width:61px;
  height:22px;
  font-size:14px;
  color:#FFFFFF;
}
#u2213 {
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  word-wrap:break-word;
}
#u2214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u2214 {
  position:absolute;
  left:506px;
  top:260px;
  width:260px;
  height:38px;
  color:#CCCCCC;
  text-align:left;
}
#u2215 {
  position:absolute;
  left:2px;
  top:11px;
  width:256px;
  word-wrap:break-word;
}
#u2216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u2216 {
  position:absolute;
  left:505px;
  top:229px;
  width:116px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u2217 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
