body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1361px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2305 {
  position:absolute;
  left:19px;
  top:50px;
  width:1361px;
  height:51px;
}
#u2306 {
  position:absolute;
  left:2px;
  top:18px;
  width:1357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:696px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2307 {
  position:absolute;
  left:19px;
  top:122px;
  width:150px;
  height:696px;
}
#u2308 {
  position:absolute;
  left:2px;
  top:340px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:696px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2309 {
  position:absolute;
  left:190px;
  top:122px;
  width:1190px;
  height:696px;
}
#u2310 {
  position:absolute;
  left:2px;
  top:340px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u2311 {
  position:absolute;
  left:210px;
  top:202px;
  width:230px;
  height:40px;
  color:#CCCCCC;
}
#u2312 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u2313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2313 {
  position:absolute;
  left:190px;
  top:122px;
  width:1190px;
  height:60px;
}
#u2314 {
  position:absolute;
  left:2px;
  top:22px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2315 {
  position:absolute;
  left:210px;
  top:142px;
  width:140px;
  height:40px;
}
#u2316 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2317 {
  position:absolute;
  left:210px;
  top:262px;
  width:1150px;
  height:460px;
}
#u2318 {
  position:absolute;
  left:2px;
  top:222px;
  width:1146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2319 {
  position:absolute;
  left:210px;
  top:262px;
  width:72px;
  height:40px;
}
#u2320 {
  position:absolute;
  left:2px;
  top:12px;
  width:68px;
  word-wrap:break-word;
}
#u2321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2321 {
  position:absolute;
  left:412px;
  top:262px;
  width:80px;
  height:40px;
}
#u2322 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u2323 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2324 {
  position:absolute;
  left:210px;
  top:732px;
  width:39px;
  height:30px;
}
#u2325 {
  position:absolute;
  left:2px;
  top:7px;
  width:35px;
  word-wrap:break-word;
}
#u2326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2326 {
  position:absolute;
  left:248px;
  top:732px;
  width:51px;
  height:30px;
}
#u2327 {
  position:absolute;
  left:2px;
  top:7px;
  width:47px;
  word-wrap:break-word;
}
#u2328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2328 {
  position:absolute;
  left:406px;
  top:732px;
  width:49px;
  height:30px;
}
#u2329 {
  position:absolute;
  left:2px;
  top:7px;
  width:45px;
  word-wrap:break-word;
}
#u2330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2330 {
  position:absolute;
  left:454px;
  top:732px;
  width:37px;
  height:30px;
}
#u2331 {
  position:absolute;
  left:2px;
  top:7px;
  width:33px;
  word-wrap:break-word;
}
#u2332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2332 {
  position:absolute;
  left:298px;
  top:732px;
  width:37px;
  height:30px;
}
#u2333 {
  position:absolute;
  left:2px;
  top:7px;
  width:33px;
  word-wrap:break-word;
}
#u2334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2334 {
  position:absolute;
  left:334px;
  top:732px;
  width:37px;
  height:30px;
}
#u2335 {
  position:absolute;
  left:2px;
  top:7px;
  width:33px;
  word-wrap:break-word;
}
#u2336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2336 {
  position:absolute;
  left:370px;
  top:732px;
  width:37px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2337 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  word-wrap:break-word;
}
#u2338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2338 {
  position:absolute;
  left:19px;
  top:142px;
  width:150px;
  height:40px;
  text-align:left;
}
#u2339 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u2340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2340 {
  position:absolute;
  left:1205px;
  top:68px;
  width:127px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2341 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2342 {
  position:absolute;
  left:439px;
  top:312px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2343 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2344 {
  position:absolute;
  left:1348px;
  top:64px;
  width:22px;
  height:22px;
}
#u2345 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2346 {
  position:absolute;
  left:649px;
  top:262px;
  width:106px;
  height:40px;
}
#u2347 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u2348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:41px;
}
#u2348 {
  position:absolute;
  left:875px;
  top:202px;
  width:70px;
  height:41px;
  color:#FFFFFF;
}
#u2349 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u2350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2350 {
  position:absolute;
  left:40px;
  top:192px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2351 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2352 {
  position:absolute;
  left:39px;
  top:218px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2353 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2354 {
  position:absolute;
  left:986px;
  top:262px;
  width:89px;
  height:40px;
}
#u2355 {
  position:absolute;
  left:2px;
  top:12px;
  width:85px;
  word-wrap:break-word;
}
#u2356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2356 {
  position:absolute;
  left:502px;
  top:262px;
  width:80px;
  height:40px;
}
#u2357 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u2358 {
  position:absolute;
  left:501px;
  top:202px;
  width:124px;
  height:41px;
}
#u2358_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2358_input {
  font-family:'应用字体';
}
#u2359 {
  position:absolute;
  left:641px;
  top:202px;
  width:124px;
  height:41px;
}
#u2359_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2359_input {
  font-family:'应用字体';
}
