<html>
<head>
    <meta charset="UTF-8">
    <title>Web sockets test</title>
    <script type="text/javascript">
//        var ws;
//        function ToggleConnectionClicked() {          
//                try {
//                    ws = new WebSocket("ws://127.0.0.1:2000");//连接服务器        
//                    ws.onopen = function(event){alert("已经与服务器建立了连接\r\n当前连接状态："+this.readyState);};
//                    ws.onmessage = function(event){alert("接收到服务器发送的数据：\r\n"+event.data);};
//                    ws.onclose = function(event){alert("已经与服务器断开连接\r\n当前连接状态："+this.readyState);};
//                    ws.onerror = function(event){alert("WebSocket异常！");};
//                } catch (ex) {
//                    alert(ex.message);      
//                }
//        };
// 
//        function SendData() {
//            try{
//                var content = document.getElementById("content").value;
//                if(content){
//                    ws.send(content);
//                }
//                
//            }catch(ex){
//                alert(ex.message);
//            }
//        };
// 
//        function seestate(){
//            alert(ws.readyState);
//        }
        
        /**
 * 与GatewayWorker建立websocket连接，域名和端口改为你实际的域名端口，
 * 其中端口为Gateway端口，即start_gateway.php指定的端口。
 * start_gateway.php 中需要指定websocket协议，像这样
 * $gateway = new Gateway(websocket://0.0.0.0:7272);
 */
ws = new WebSocket("ws://127.0.0.1:8282");
// 服务端主动推送消息时会触发这里的onmessage
ws.onmessage = function(e){
    // json数据转换成js对象
    var data = eval("("+e.data+")");
    var type = data.type || ''; console.log(data);
    switch(type){
        // Events.php中返回的init类型的消息，将client_id发给后台进行uid绑定
        case 'init':
            // 利用jquery发起ajax请求，将client_id发给后端进行uid绑定
//            $.post('/mini/Index/bind', {client_id: data.client_id}, function(data){}, 'json');
            break;
        // 当mvc框架调用GatewayClient发消息时直接alert出来
        default :
//            alert(e.data);
    }
};
       
    </script>
</head>
<body>
   <button id='ToggleConnection' type="button" onclick='ToggleConnectionClicked();'>连接服务器</button><br /><br />
   <textarea id="content" ></textarea>
    <button id='ToggleConnection' type="button" onclick='SendData();'>发送我的名字：beston</button><br /><br />
    <button id='ToggleConnection' type="button" onclick='seestate();'>查看状态</button><br /><br />

</body>
</html>