body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:498px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u241 {
  position:absolute;
  left:240px;
  top:182px;
  width:1190px;
  height:498px;
}
#u242 {
  position:absolute;
  left:2px;
  top:241px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:629px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u243 {
  position:absolute;
  left:1460px;
  top:51px;
  width:560px;
  height:629px;
}
#u244 {
  position:absolute;
  left:2px;
  top:2px;
  width:556px;
  word-wrap:break-word;
}
#u245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1361px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u245 {
  position:absolute;
  left:69px;
  top:51px;
  width:1361px;
  height:51px;
  font-size:20px;
  color:#FF0000;
}
#u246 {
  position:absolute;
  left:2px;
  top:18px;
  width:1357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:557px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u247 {
  position:absolute;
  left:69px;
  top:123px;
  width:150px;
  height:557px;
}
#u248 {
  position:absolute;
  left:2px;
  top:270px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u249 {
  position:absolute;
  left:260px;
  top:203px;
  width:220px;
  height:40px;
  color:#CCCCCC;
}
#u250 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  word-wrap:break-word;
}
#u251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u251 {
  position:absolute;
  left:240px;
  top:123px;
  width:1190px;
  height:60px;
}
#u252 {
  position:absolute;
  left:2px;
  top:22px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u253 {
  position:absolute;
  left:260px;
  top:143px;
  width:140px;
  height:40px;
}
#u254 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:41px;
}
#u255 {
  position:absolute;
  left:785px;
  top:202px;
  width:70px;
  height:41px;
  color:#FFFFFF;
}
#u256 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u257 {
  position:absolute;
  left:69px;
  top:143px;
  width:150px;
  height:40px;
  text-align:left;
}
#u258 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u259 {
  position:absolute;
  left:498px;
  top:202px;
  width:124px;
  height:41px;
}
#u259_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u259_input {
  font-family:'应用字体';
}
#u260 {
  position:absolute;
  left:638px;
  top:202px;
  width:124px;
  height:41px;
}
#u260_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u260_input {
  font-family:'应用字体';
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u262 {
  position:absolute;
  left:260px;
  top:637px;
  width:39px;
  height:30px;
}
#u263 {
  position:absolute;
  left:2px;
  top:7px;
  width:35px;
  word-wrap:break-word;
}
#u264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u264 {
  position:absolute;
  left:298px;
  top:637px;
  width:51px;
  height:30px;
}
#u265 {
  position:absolute;
  left:2px;
  top:7px;
  width:47px;
  word-wrap:break-word;
}
#u266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u266 {
  position:absolute;
  left:456px;
  top:637px;
  width:49px;
  height:30px;
}
#u267 {
  position:absolute;
  left:2px;
  top:7px;
  width:45px;
  word-wrap:break-word;
}
#u268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u268 {
  position:absolute;
  left:504px;
  top:637px;
  width:37px;
  height:30px;
}
#u269 {
  position:absolute;
  left:2px;
  top:7px;
  width:33px;
  word-wrap:break-word;
}
#u270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u270 {
  position:absolute;
  left:348px;
  top:637px;
  width:37px;
  height:30px;
}
#u271 {
  position:absolute;
  left:2px;
  top:7px;
  width:33px;
  word-wrap:break-word;
}
#u272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u272 {
  position:absolute;
  left:384px;
  top:637px;
  width:37px;
  height:30px;
}
#u273 {
  position:absolute;
  left:2px;
  top:7px;
  width:33px;
  word-wrap:break-word;
}
#u274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u274 {
  position:absolute;
  left:420px;
  top:637px;
  width:37px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u275 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  word-wrap:break-word;
}
#u276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
  background:inherit;
  background-color:rgba(252, 253, 232, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u276 {
  position:absolute;
  left:261px;
  top:261px;
  width:228px;
  height:40px;
}
#u277 {
  position:absolute;
  left:2px;
  top:12px;
  width:224px;
  word-wrap:break-word;
}
#u278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(252, 253, 232, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u278 {
  position:absolute;
  left:488px;
  top:261px;
  width:89px;
  height:40px;
}
#u279 {
  position:absolute;
  left:2px;
  top:12px;
  width:85px;
  word-wrap:break-word;
}
#u280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u280 {
  position:absolute;
  left:261px;
  top:300px;
  width:228px;
  height:40px;
}
#u281 {
  position:absolute;
  left:2px;
  top:12px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u282 {
  position:absolute;
  left:488px;
  top:300px;
  width:89px;
  height:40px;
}
#u283 {
  position:absolute;
  left:2px;
  top:12px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
  background:inherit;
  background-color:rgba(252, 253, 232, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u284 {
  position:absolute;
  left:1301px;
  top:261px;
  width:106px;
  height:40px;
}
#u285 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
  background:inherit;
  background-color:rgba(252, 253, 232, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u286 {
  position:absolute;
  left:576px;
  top:261px;
  width:101px;
  height:40px;
}
#u287 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u288 {
  position:absolute;
  left:576px;
  top:300px;
  width:101px;
  height:40px;
}
#u289 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:40px;
  background:inherit;
  background-color:rgba(252, 253, 232, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u290 {
  position:absolute;
  left:1113px;
  top:261px;
  width:78px;
  height:40px;
}
#u291 {
  position:absolute;
  left:2px;
  top:12px;
  width:74px;
  word-wrap:break-word;
}
#u292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u292 {
  position:absolute;
  left:1113px;
  top:300px;
  width:78px;
  height:40px;
}
#u293 {
  position:absolute;
  left:2px;
  top:12px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u294 {
  position:absolute;
  left:1301px;
  top:300px;
  width:106px;
  height:40px;
}
#u295 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(252, 253, 232, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u296 {
  position:absolute;
  left:1190px;
  top:261px;
  width:112px;
  height:40px;
}
#u297 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u298 {
  position:absolute;
  left:1190px;
  top:300px;
  width:112px;
  height:40px;
}
#u299 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u300 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u301 {
  position:absolute;
  left:798px;
  top:392px;
  width:340px;
  height:190px;
}
#u302 {
  position:absolute;
  left:2px;
  top:87px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u303 {
  position:absolute;
  left:798px;
  top:437px;
  width:340px;
  height:1px;
}
#u304 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u305 {
  position:absolute;
  left:816px;
  top:406px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u306 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u307 {
  position:absolute;
  left:842px;
  top:478px;
  width:113px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u308 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u309 {
  position:absolute;
  left:1058px;
  top:542px;
  width:70px;
  height:30px;
  color:#FFFFFF;
}
#u310 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u311 {
  position:absolute;
  left:978px;
  top:542px;
  width:70px;
  height:30px;
  color:#FFFFFF;
}
#u312 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:40px;
  background:inherit;
  background-color:rgba(252, 253, 232, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u313 {
  position:absolute;
  left:676px;
  top:261px;
  width:438px;
  height:40px;
}
#u314 {
  position:absolute;
  left:2px;
  top:12px;
  width:434px;
  word-wrap:break-word;
}
#u315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u315 {
  position:absolute;
  left:676px;
  top:300px;
  width:438px;
  height:40px;
}
#u316 {
  position:absolute;
  left:2px;
  top:12px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u317 {
  position:absolute;
  left:399px;
  top:143px;
  width:140px;
  height:40px;
}
#u318 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
